/* From Juan Pablo on codepen https://codepen.io/jupago/pen/dwZKbM */

/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 100vh;
   padding: 0 20px;
}

/* Blockquote main style */
.bordered-blockquote {
    position: relative;
    text-align: center;
    line-height: normal;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}


/* Blockquote right double quotes */
.bordered-blockquote:after {
    position: absolute;
    content: "”";
    font-size: 8rem;
    line-height: 0;
    bottom: -25px;
    right: 30px;
}

/* decrease double quotes size for narrow/mobile widths */
@media all and (max-width: 736px) {

    .bordered-blockquote {
        padding: 15px 0;
        margin: 25px auto;
    }

    .bordered-blockquote:after {
        font-size: 5rem;
        bottom: -20px;
    }

}

/* Blockquote subheader */
.bordered-blockquote h4 {
    position: relative;
    color: #292a2b;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}